body {
    position: relative;
    margin: 20 auto;
    width: 400px;
}

a#header-title {
    font-size: 32;
    font-family: "Courier New";
    text-decoration: none;
    color: #23c9ff;
    left: 50%;
    position: relative;
}

p#footer {
    left: 100%;
    position: relative;
    font-size: 10;
    color: #a9a9a9;
}