body {
    position: relative;
    margin: 10 auto;
    width: 50%;
}

div#header-title {
    text-align: center;
}

div#header-title>a {
    font-size: 32;
    font-family: "Courier New";
    text-decoration: none;
    color: #23c9ff;
}

div#footer, div#header-actions {
    right: 0;
    position: absolute;
}

div#footer, div#header-actions>a,span {
    color: #a9a9a9;
}

div#footer {
    font-size: 10;
}

div#header-actions>a,span {
    font-size: 12;
}