{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block head %}
    {{ super() }}
    <link type='text/css' rel='stylesheet' href='/css/blog.css'/>
{% endblock %}

{% block content %}
	{% for entry in entries%}
	<div class='title'><a href="blog/id/{{entry.key().id()}}" class="post">{{entry.title}}</a></div>
    <hr class='black'>
	<pre class='content'>{{entry.content}}</pre>
	<br>
	{%endfor%}
{% endblock %}

{% block footer %}
    Posts from DB queried {{seconds_ago}} seconds ago
{% endblock %}